@{
    ViewBag.Title = "About";
}
<section class="content-header">
    <h2>@ViewBag.Title.</h2>


</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
           
            <h3>@ViewBag.Message</h3>
            <p>This is a Sample Angular Js Application !!! Backed BY Asp MVC</p>

        </div>
        

        
    </div>
    
</section>



