@{
    ViewBag.Title = "Contact";
}
<section class="content-header">
    <h2>@ViewBag.Title.</h2>

</section>
<section class="content">


    <div class="row">
        <div class="col-lg-12">
            <h3>@ViewBag.Message</h3>

            <address>
               Md. Atiqur Rahman<br />
                atiq.it@gmail.com<br />
                <abbr title="Phone">P:</abbr>
                01670167519
            </address>

           

        </div>
        </div>
</section>
